@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: darkgrey; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 114, 114); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container .card-x .row{
  font-family: 'Open Sans', sans-serif!important;
}

.card-x{
  border-radius: 20px!important;
  background: #f9f9f9!important;
  box-shadow:  5px 5px 10px #dedede,
              -5px -5px 10px #ffffff!important;
}